table.order-measurements th,
table.order-measurements th h4 {
    width: 4em;;
}

.order-measurement-value input {
    width: 60px;
}

.order-measurement-pupil-distance input {
    width: 40px;
}
.order-measurement-layer-data input {
    width: 240px;
}
.order-measurement-other-data input {
    width: 140px;
}